@import url("https://fonts.googleapis.com/css2?family=Genos:wght@500&family=Ubuntu:wght@700&display=swap");

.film-details{
  font-size: 35px;
  font-family: "Genos";
  text-transform: capitalize;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  line-height: 10px;
}

.film-title{
  padding: 5px;
}