@import url('https://allfont.net/allfont.css?fonts=star-jedi');

.App {
  display: flex;
  text-align: center;
  background-image: url(./StarWarsBackground.jpeg);
  color: white; 
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
